<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="automationFramework" value="Selenium" />
    <Parameter name="baseUrl" value="http://web:8080" />
    <Parameter name="driverType" value="Remote" />
    <Parameter name="remoteDriverUrl" value="http://seleniumhub:4444/wd/hub" />
    <!--<Parameter name="targetBrowser" value="Chrome" />-->
    <!--<Parameter name="targetBrowser" value="Edge" />-->
    <Parameter name="targetBrowser" value="Firefox" />
    <Parameter name="resolutionWidth" value="1280" />
    <Parameter name="resolutionHeight" value="768" />
  </TestRunParameters>
</RunSettings>